<div id="eBody">
    <h1 id="breathMessage" class="mainContent">It's time to take a<br>deep breath...</h1>
    <div id="attemptsMessage" class="mainContent">
        <h1 id="attemptsCount"></h1>
        <p id="attemptsText"></p>
    </div>
    <div id="decisionNav">
        <button id="abortButton" class="button-85" role="button">I don't want to open this page</button>
        <p id="continueButton" role="button"><span>Continue</span></p>
    </div>
    <div class="eBreathOverlay" id="eBreathOverlay_slideIn"></div>
    <div class="eBreathOverlay" id="eBreathOverlay_slideOut"></div>
</div>