<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/options.css">
  </head>

  <body>
    <div id="domainsOption" class="optionGroup">
      <p>Domains to intercept (comma-delimited list):</p>
      <textarea id="domains" placeholder="instagram.com,reddit.com"></textarea>></textarea>
    </div>
    <div id="submitButtons">
        <button id="button">Save</button>
    </div>

    <script src="../lib/jquery-3.6.1.min.js"></script>
    <script src="../scripts/options.js"></script>
  </body>
</html>